h3 {
    opacity: 0;
    transition: opacity 1s;
}

body {
    overflow-x: hidden;
}

main>.container {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h3 {
    font-weight: 700;
}

.job-heading,
.job-requirement {
    display: inline-block;
    vertical-align: middle;
}

.job-requirement {
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 50%;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease;
    animation: fadein 0.5s linear forwards;

}

.fade-out {
    opacity: 1;
    transition: opacity 2s ease;
    animation: fadeout 0.5s linear forwards;
}
.rainbow-anim
{
    mask-image: url(./img/ms-point1colormap.png);
    mask-repeat: no-repeat;  
    mask-size:contain; /* OR cover OR fixed values */
}

.grow-shrink {
    transform-origin: center;
    animation: grow-shrink 60s linear infinite;
}

.white {

    color: #212121ff;
}

.teamspettro-logo {
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 700;
    text-align: center;
}

.topbar-item {
    color: #ffffff72;
    font-family: Raleway;
    font-weight: 450;
    padding: 5px 5px 5px;
    border: solid 1px #00000000;
    transition: color 0.2s, scale 0.2s, padding 0.2s, font-weight 0.2s;
}

.topbar-item:hover {
    color: #00bbff;
    font-family: Raleway;
    font-weight: 500;
    padding: 5px 5px 5px;
    /* transition: color 0.2s, scale 0.2s, padding 0.2s, font-weight 0.2s;
    text-shadow:1px 1px 10px #00bbff72; */
    background: #116583;
    border: solid 1px #00bbff;
    border-radius: 5px;
    border-spacing: 5px;
    box-shadow: 1px 1px 10px #116583;

}
mark
{
    font-weight: 900;
    font-family: Chakra Petch;
    SCALE: none;
    padding: 5px;
    background: #11658372;
    border: solid 1px #00bbff;
    border-radius: 5px;
    border-spacing: 5px;
    box-shadow: 1px 1px 10px #116583;
    animation: ts_logosel_anim 10s ease-in-out infinite;
}
.topbar-item:active {
    color: #00bbffff;
    font-family: Raleway;
    font-weight: 510;
    padding: 5px 3px 0px;
    animation: blinker 0.05s linear infinite;
    transition: color 0.2s, scale 0.2s, padding 0.2s, font-weight 0.2s;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grow-shrink {
    0% {
        scale: 100%;
    }

    50% {
        scale: 120%;
    }

    100% {
        scale: 100%;
    }
}

.separator {
    background-color: white;
    width: 1px;
    opacity: 10%;
}

.fab {
    padding: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 120px;
}

/* Sets the variables up(?) */
.monospace,
.text-ms {
    opacity: 1;
    transition: transform 2s, opacity 2s;
    z-index: 0;
    background-clip: padding-box !important;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamspettro-button {
    border: solid 1px #00000000;
    background-size: 0% 0%;
    border-spacing: 5px;
    transition: background-size 0.2s;
}

.teamspettro-button:hover {
    transition: background 0.2s, background-size 0.2s;
    border: solid 1px red;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #00bbff72;
    background-size: 100% 100%;

    animation: ts_logosel_anim 10s ease-in-out infinite;
}

@keyframes ts_logosel_anim {

    0%,
    100% {

        background: #6666ff55;
        border: solid 1px #6666ff;
        box-shadow: 1px 1px 10px #6666ff72;
    }

    25% {

        background: #0099ff55;
        border: solid 1px #0099ff;
        box-shadow: 1px 1px 10px #0099ff72;
    }

    50% {

        background: #00ff0055;
        border: solid 1px #00ff00;
        box-shadow: 1px 1px 10px #00ff0072;
    }

    monospace 75% {

        background: #ff339955;
        border: solid 1px #ff3399;
        box-shadow: 1px 1px 10px #ff339972;
    }
}

.image-view {
    opacity: 0;
    transition: transform 2s, opacity 2s;
    z-index: 0;
    background-clip: content-box !important;
    padding: 50px;
    display: flex;
    max-width: 100vw;
    height: auto;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.monospace h2 {
    color: #1e1e1e;
    font-weight: 700;
    transform: translateY(50%);
    text-align: center;
}

.text-ms h1 {
    color: #1e1e1e;
    font-weight: 700;
    transform: translateY(50%);
    text-align: left;
    font-size: 55px;
}

.text-ms h2 {
    color: #1e1e1e;
    font-weight: 500;
    transform: translateY(50%);
    text-align: left;
}

.monospace h3,
.text-ms h3 {
    color: #1e1e1e;
    font-size: 25px;
    transform: translateY(5%);
    font-weight: 400;
    padding: 30px;
    text-align: center;
}

.monospace a:hover,
.text-ms a:hover {
    background: linear-gradient(180deg, #0000 0%, #cfd0d2 100%);
    text-decoration: none;
}

/* monospace button in the main page. */
.monospace {

    background: radial-gradient(#2d2a2aff 0%, #1e1e1e 100%);
    border: solid 1px white;
    border-radius: 10px;
    transition: background-color 0.2s ease, scale 0.2s ease;
    /* transform: translateX(-200%); */
}

.monospace:hover {
    background-color: rgb(30, 129, 195);
    border: solid 1px rgb(0, 153, 255);
    scale: 105%;
    border-radius: 10px;

    box-shadow: 1px 1px 10px #00bbff72;
    transition: background-color 0.2s ease, border 0.2s ease, scale 0.2s ease, border-radius 0.1s;
}

.monospace:active {
    scale: 70%;
}

.text-ms {
    opacity: 0;
    /* transform: translateX(-200%); */
}

main img {
    width: 100%;
    object-fit: contain;
}

header,
main>.container {
    z-index: 100;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 500px;
}

div.gallery:hover {
    border: 1px solid rgb(199, 199, 199);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 12px;
    text-align: center;
    color: black;
}

.container-styled {
    background: #f7f7f7;

    box-shadow: inset 0 1px 5px #00000020, 0 1px #ffffff20;
    color: #ffffff;
    padding: 30px;

}

.ms_point_desctext,
.ms_point_desctext_white {
    font-family: Chakra Petch;
    font-size: 35px;
}

.ms_point_desctext_white {
    color: #ffffff;
}

.ms_point_leftborder {
    border-left: solid 5px black;
}
.ms_point_leftborder_white {
    border-left: solid 5px white;
}

.ms_point_bottomborder {
    border-bottom: solid 5px black;
}
.ms_point_bottomborder_white {
    border-bottom: solid 5px white;
}
.ms_point_titletext,
.ms_point_titletext_white {
    font-family: Chakra Petch;
    font-weight: 900;
    font-size: 55px;
}

.ms_point_titletext_white {
    color: #ffffff;
}

.ms_point_container_0,
.ms_point_container_1,
.ms_point_container_2,
.ms_point_container_3 {
    background: rgb(235,235,235);
    background: radial-gradient(circle, rgba(235,235,235,1) 58%, rgba(201,201,201,1) 100%); 
    color: #000;
    padding: 30px;
    margin-bottom: 20px;

}

.ms_point_container_1 {
    background: rgb(19,19,19);
background: radial-gradient(circle, rgba(19,19,19,1) 58%, rgba(0,0,0,1) 100%);
    color: #ffffff;
}

.ms_point_container_2 {
    background: rgb(227,84,84);
    background: radial-gradient(circle, rgba(227,84,84,1) 58%, rgba(181,68,68,1) 100%);
    color: #000000;
}

.ms_point_container_3 {
    background: rgb(0,178,255);
background: radial-gradient(circle, rgba(0,178,255,1) 58%, rgba(0,133,191,1) 100%);
    color: #fff;
}

p {
    font-family: "Hind", sans-serif;
    font-style: normal;
    color: #212121;
    justify-content: left;
    font-weight: 500;
}

h2 {
    font-family: "Hind", sans-serif;
    font-style: normal;
    color: #212121;
    text-align: center;
    justify-content: left;
    font-weight: 500;
}


b 
{  
    font-weight: 900;
    font-family: Chakra Petch;
    
}

.header h1 {
    font-size: 80px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 2s;
    color: #ffffff;
}

/* HeaderInfo ^ */